# Output files

files/outputs/final-results/music/*
!files/outputs/final-results/music/README.md

files/outputs/final-results/sermons/*
!files/outputs/final-results/sermons/README.md

files/outputs/final-results/shorts/*
!files/outputs/final-results/shorts/README.md

files/outputs/project-files/*
!files/outputs/project-files/README.md

# Input files

files/inputs/Intros/*
!files/inputs/Intros/README.md

files/inputs/Names/*
!files/inputs/Names/README.md

files/inputs/Videos/*
!files/inputs/Videos/README.md

# node-scripts

node-scripts/node_modules/
node-scripts/.env

node-scripts/krpc-yt/secrets/*
!node-scripts/krpc-yt/secrets/README.md

